In [ ]:
import pandas as pd
# Loading data of Batting & Bowling
bat_df = pd.read_csv(r"H:\Data science\DataSet\odi world cup 2023 dataset\batting_summary.csv", encoding ="latin1") 
bowl_df = pd.read_csv(r"H:\Data science\DataSet\odi world cup 2023 dataset\bowling_summary.csv", encoding="latin1")
# Checking Top 5 row of data
print(bat_df.head())
print(bowl_df.head())

In [12]:
# Data informaation
print(bat_df.info())
print(bowl_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Match_no          916 non-null    int64
 1   Match_Between     916 non-null    object
 2   Team_Innings      916 non-null    object
 3   Batsman_Name      916 non-null    object
 4   Batting_Position  916 non-null    int64
 5   Dismissal         914 non-null    object
 6   Runs              916 non-null    int64
 7   Balls             916 non-null    int64
 8   4s                916 non-null    int64
 9   6s                916 non-null    int64
 10  Strike_Rate       916 non-null    object
dtypes: int64(6), object(5)
memory usage: 78.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Match_no       574 non-null    int64
 1   Match_Between  574 non-null    object
 2   Bowling_Team   574 non-null    object
 3   Bowler_Name    574 non-null    object
 4   Overs          574 non-null    float64
 5   Maidens        574 non-null    int64
 6   Runs           574 non-null    int64
 7   Wickets        574 non-null    int64
 8   Economy        574 non-null    float64
dtypes: float64(2), int64(4), object(3)
memory usage: 40.5+ KB
None

In [14]:
# It's time to Clean data  & Handling Missing values
bat_df['Runs'] = pd.to_numeric(bat_df['Runs'], errors ='coerce')
bowl_df['Wickets'] = pd.to_numeric(bowl_df['Wickets'], errors='coerce')

# Filling Missing values with appropriate default values
bat_df.fillna({'Runs':0, 'Balls':1}, inplace=True)
bowl_df.fillna({'Wickets':0, 'Overs': 0}, inplace=True)

In [19]:
# Finding the Top 5 Highest Run Scorers in a Match
top_scorers = bat_df.nlargest(5, 'Runs')
print('Top 5 Highest Run Scorers in a Match:\n', top_scorers[['Batsman_Name', 'Runs']])

Top 5 Highest Run Scorers in a Match:
         Batsman_Name  Runs
767    Glenn Maxwell   201
841   Mitchell Marsh   177
458  Quinton de Kock   174
367     David Warner   163
11      Devon Conway   152

In [20]:
# Findig Top 5 Wicket Takers in a Single Match 
top_bowlers = bowl_df.nlargest(5, 'Wickets')
print('Top 5 Highest Wicket Takers in a Match:\n', top_bowlers[['Bowler_Name', 'Wickets']])

Top 5 Highest Wicket Takers in a Match:
             Bowler_Name  Wickets
547      Mohammed Shami        7
70     Mitchell Santner        5
207      Shaheen Afridi        5
244      Mohammed Shami        5
384  Dilshan Madushanka        5

In [ ]:
# Best Strike Rate [min 100 Runs]
bat_df['Strike_Rate'] = (bat_df["Runs"]/bat_df['Balls'])*100
best_strike = bat_df[bat_df['Runs']>100].nlargest(5, 'Strike_Rate')
print("Best Strike Rate:\n", best_strike[['Batsman_Name', "Strike_Rate"]])

Best Strike Rate:
          Batsman_Name  Strike_Rate
481     Glenn Maxwell   240.909091
56      Aiden Markram   196.296296
411  Heinrich Klaasen   162.686567
535       Travis Head   162.686567
869          KL Rahul   159.375000

In [24]:
# Team wise total Runs
team_runs = bat_df.groupby('Team_Innings')['Runs'].sum().reset_index()
print("Team wise Runs:\n", team_runs)

Team wise Runs:
    Team_Innings  Runs
0   Afghanistan  1990
1     Australia  3303
2    Bangladesh  1944
3       England  2135
4         India  3038
5   Netherlands  1728
6   New Zealand  2712
7      Pakistan  2220
8  South Africa  3272
9     Sri Lanka  1942

In [ ]:
# Best Bowling Economy (Min 10 Overs)
bowl